## SQL and SQLite
SQL (Structured Query Language) is a standard language for managing and manipulating relational databases SQLite is a self-contained, serverless, and zero-configuration database engine that is widely used for embedded database systems.

In [1]:
import sqlite3

In [ ]:
# Connect to SQLite database : Establish the connection between the db file and python file
connection = sqlite3.connect('example.db')
connection

In [ ]:
# Create a cursor : A cursor is basically a pointer or handle used to interact with the database through your program.
cursor = connection.cursor()

In [ ]:
# Create a Table 
cursor.execute('''
CREATE TABLE IF NOT EXISTS employee (
    id INTEGER PRIMARY KEY,
    name VARCHAR(50) NOT NULL,
    age INTEGER,
    department VERCHAR(30)       
)
''')

connection.commit()

In [7]:
connection.execute('SELECT * FROM employee')

In [8]:
# Insert data into the table
connection.execute('''
INSERT INTO employee 
(id, name, age, department) 
VALUES
(101, "Prashant Marathe", 20, "Computer Science"),
(102, "Pranav Devre", 19, "Computer Science"),
(103, "Devendra Bhoi", 18, "Rocket Science")
''')

# Commit the changes
connection.commit()

In [9]:
# Get the table from the database
cursor.execute('SELECT * FROM employee')
rows = cursor.fetchall()

# Print the rows of data 1 by one using loop
for row in rows:
    print(row)

(101, 'Prashant Marathe', 20, 'Computer Science')
(102, 'Pranav Devre', 19, 'Computer Science')
(103, 'Devendra Bhoi', 18, 'Rocket Science')

In [10]:
# Update Data in the table
cursor.execute('''
UPDATE employee 
SET age=21
WHERE name="Prashant Marathe"
''')

connection.commit()

In [11]:
# Check if the updation happened
cursor.execute('SELECT * FROM employee')
rows = cursor.fetchall()

# print the data
for row in rows:
    print(row)

(101, 'Prashant Marathe', 21, 'Computer Science')
(102, 'Pranav Devre', 19, 'Computer Science')
(103, 'Devendra Bhoi', 18, 'Rocket Science')

In [12]:
# Delete the data from the table
cursor.execute('''
DELETE FROM employee
WHERE name="Pranav Devre"
''')

# commit
connection.commit()

In [14]:
# Get data from the table
cursor.execute('SELECT * FROM employee')
rows = cursor.fetchall()
for row in rows:
    print(row)

(101, 'Prashant Marathe', 21, 'Computer Science')
(103, 'Devendra Bhoi', 18, 'Rocket Science')

In [16]:
# Example : Working with sales data

# Create a connecion
connection = sqlite3.connect('sales_data.db')

# Create a cursor
cursor = connection.cursor()

# Create a table of sales data
cursor.execute('''
CREATE TABLE IF NOT EXISTS sales (
id INTEGER PRIMARY KEY,
date text NOT NULL,
product TEXT NOT NULL,
sales INTEGER,
region TEXT
)
''')

# Insert into the table
sales_data = [
    ('2023-01-01', 'Product1', 100, 'North'),
    ('2023-01-02', 'Product2', 100, 'South'),
    ('2023-01-03', 'Product1', 150, 'East'),
    ('2023-01-04', 'Product3', 250, 'West'),
    ('2023-01-05', 'Product2', 300, 'North')
]

# use executemany to insert multiple records into table
cursor.executemany(''' INSERT INTO sales (date, product, sales, region) VALUES (?, ?, ?, ?) ''', sales_data)

# Confirm the process status 
cursor.execute(' SELECT * FROM sales')
rows = cursor.fetchall()

# commit the changes
connection.commit()

# print the data
for row in rows:
    print(row)

(1, '2023-01-01', 'Product1', 100, 'North')
(2, '2023-01-02', 'Product2', 100, 'South')
(3, '2023-01-03', 'Product1', 150, 'East')
(4, '2023-01-04', 'Product3', 250, 'West')
(5, '2023-01-05', 'Product2', 300, 'North')

In [17]:
# close the database connection 
connection.close()

In [18]:
# Trying to access the data after closing the connection üòèüòèüòè
cursor.execute(' SELECT * FROM sales ')
rows = cursor.fetchall()

ProgrammingError: Cannot operate on a closed database.