# Module: SQLite3 Assignments
## Lesson: SQLite3
### Assignment 1: Creating and Connecting to a Database

1. Write a Python function to create a new SQLite3 database named `test.db`.
2. Write a Python function to create a table named `employees` with columns `id` (integer), `name` (text), `age` (integer), and `department` (text) in the `test.db` database.

### Assignment 2: Inserting Data

1. Write a Python function to insert a new employee into the `employees` table.
2. Insert at least 5 different employees into the `employees` table.

### Assignment 3: Querying Data

1. Write a Python function to fetch and display all records from the `employees` table.
2. Write a Python function to fetch and display all employees from a specific department.

### Assignment 4: Updating Data

1. Write a Python function to update the department of an employee based on their `id`.
2. Update the department of at least 2 employees and display the updated records.

### Assignment 5: Deleting Data

1. Write a Python function to delete an employee from the `employees` table based on their `id`.
2. Delete at least 1 employee and display the remaining records.

### Assignment 6: Advanced Queries

1. Write a Python function to fetch and display employees older than a certain age.
2. Write a Python function to fetch and display employees whose names start with a specific letter.

### Assignment 7: Handling Transactions

1. Write a Python function to insert multiple employees into the `employees` table in a single transaction. Ensure that if any insertion fails, none of the insertions are committed.
2. Write a Python function to update the age of multiple employees in a single transaction. Ensure that if any update fails, none of the updates are committed.

### Assignment 8: Creating Relationships

1. Create a new table named `departments` with columns `id` (integer) and `name` (text).
2. Modify the `employees` table to include a foreign key referencing the `id` column in the `departments` table.
3. Write a Python function to insert data into both the `departments` and `employees` tables, ensuring referential integrity.

### Assignment 9: Indexing and Optimization

1. Create an index on the `name` column of the `employees` table.
2. Write a Python function to fetch and display all employees whose names start with a specific letter. Compare the performance with and without the index.

### Assignment 10: Backing Up and Restoring Data

1. Write a Python function to back up the `test.db` database to a file named `backup.db`.
2. Write a Python function to restore the `test.db` database from the `backup.db` file.

In [2]:
import sqlite3

def create_database(db_name='test.db'):
    connection = sqlite3.connect(db_name)
    cursor = connection.cursor()

    # create a table
    cursor.execute('''
    CREATE TABLE IF NOT EXISTS employees (
        id INTEGER PRIMARY KEY,
        name VARCHAR(50) NOT NULL,
        age INTEGER,
        department VARCHAR(30)
                   
        ) 
    ''')
    connection.commit()
    cursor.execute('SELECT * FROM employees')
    rows = cursor.fetchall()

    return rows

rows = create_database()
for row in rows:
    print(row)

(101, 'Prashant Marathe', 21, 'Computer Science')
(103, 'Devendra Bhoi', 20, 'Rocket Science')
(121, 'Prashant Marathe', 21, 'Computer Science')
(123, 'Pranav Devre', 20, 'Computer Science')
(132, 'Devendra Bhoi', 20, 'Computer Science')

In [ ]:
def update_table(db_name = 'test.db'):
    connection = sqlite3.connect(db_name)
    cursor = connection.cursor()

    cursor.execute('''
    UPDATE employees 
    SET department="Rocket Science"
    WHERE id=103
    ''')
    connection.commit()

    cursor.execute('SELECT * FROM employees')
    rows = cursor.fetchall()

    return rows

rows = update_table()
for row in rows:
    print(row)

(101, 'Prashant Marathe', 21, 'Computer Science')
(102, 'Pranav Devre', 20, 'Computer Science')
(103, 'Devendra Bhoi', 20, 'Rocket Science')

In [ ]:
def delete_table_record(db_name='test.db'):
    connection = sqlite3.connect(db_name)
    cursor = connection.cursor()

    cursor.execute('DELETE FROM employees WHERE id=102')
    connection.commit()

    cursor.execute('SELECT * FROM employees')
    rows = cursor.fetchall()

    return rows

rows = delete_table_record()
for row in rows:
    print(row)

(101, 'Prashant Marathe', 21, 'Computer Science')
(103, 'Devendra Bhoi', 20, 'Rocket Science')

In [ ]:
def fetch_employees(db_name='test.db'):
    connection = sqlite3.connect(db_name)
    cursor = connection.cursor()

    cursor.execute('''
    INSERT INTO employees 
    (id, name, age, department)
    VALUES
    (104, "Umesh Pandhare", 22, "Computer Science"),
    (105, "Rohit Bari", 30, "Biology"),
    (106, "Mayur Jadhav", 40, "Mathematics"),
    (107, "Lalit Chaudhari", 54, "Computer Science"),
    (108, "Varad Umrane", 43, "Computer Science"),
    (109, "Ujjwal Patil", 54, "Computer Science"),
    (110, "Pankaj Koli", 32, "Computer Science"),
    (111, "Om Pardeshi", 45, "Computer Science"),
    (112, "Krushna Rathod", 29, "Computer Science"),
    (113, "Chetan Rathod", 34, "Computer Science"),
    (114, "Devendra Bhoi", 20, "Computer Science")
    ''')

    cursor.execute('SELECT * FROM employees WHERE age>=30')
    rows = cursor.fetchall()

    return rows

rows = fetch_employees()
for row in rows:
    print(row)

(105, 'Rohit Bari', 30, 'Biology')
(106, 'Mayur Jadhav', 40, 'Mathematics')
(107, 'Lalit Chaudhari', 54, 'Computer Science')
(108, 'Varad Umrane', 43, 'Computer Science')
(109, 'Ujjwal Patil', 54, 'Computer Science')
(110, 'Pankaj Koli', 32, 'Computer Science')
(111, 'Om Pardeshi', 45, 'Computer Science')
(113, 'Chetan Rathod', 34, 'Computer Science')

In [6]:
'''You can use the SQL LIKE operator with a wildcard (%) to match the first letter of names.

For example, if you want all employees whose names start with "P"'''
def select_with_letter(letter, db_name='test.db'):
    connection = sqlite3.connect(db_name)
    cursor = connection.cursor()

    query = '''SELECT * FROM employees WHERE name LIKE ?;'''
    cursor.execute(query, (letter + '%',))
    rows = cursor.fetchall()

    connection.close()
    return rows

select_with_letter("P")

[(101, 'Prashant Marathe', 21, 'Computer Science'),
 (121, 'Prashant Marathe', 21, 'Computer Science'),
 (123, 'Pranav Devre', 20, 'Computer Science'),
 (201, 'Prince Zodiac', 44, 'Electrical Engineering'),
 (202, 'Purushottam', 56, 'Finance')]

In [5]:
## handling Transactions
import sqlite3

def insert_employees(db_name='test.db'):
    connection = sqlite3.connect(db_name)
    cursor = connection.cursor()
    try:
        cursor.execute('''
        INSERT INTO employees 
        (id, name, age, department)
        VALUES
        (201, "Prince Zodiac", 44, "Electrical Engineering"),
        (202, "Purushottam", 56, "Finance"),
        (203, "Jayesh", 67, "Project Manager"),
        (204, "Mahesh Marathe", 18, "Machenical Engineer");    
        ''')
        connection.commit() 
    except Exception as e:
        connection.rollback()
        print(f'Insertion Failed: {e}')

    cursor.execute('SELECT * FROM employees')
    rows = cursor.fetchall()
    connection.close
    return rows

insert_employees()

Insertion Failed: UNIQUE constraint failed: employees.id

[(101, 'Prashant Marathe', 21, 'Computer Science'),
 (103, 'Devendra Bhoi', 20, 'Rocket Science'),
 (121, 'Prashant Marathe', 21, 'Computer Science'),
 (123, 'Pranav Devre', 20, 'Computer Science'),
 (132, 'Devendra Bhoi', 20, 'Computer Science'),
 (201, 'Prince Zodiac', 44, 'Electrical Engineering'),
 (202, 'Purushottam', 56, 'Finance'),
 (203, 'Jayesh', 67, 'Project Manager'),
 (204, 'Mahesh Marathe', 18, 'Machenical Engineer')]

In [9]:
def update_age_using_transaction(db_name='test.db'):
    connection = sqlite3.connect(db_name)
    cursor = connection.cursor()

    try:
        cursor.execute('''
        UPDATE employees SET age=age+1 WHERE age>30
        ''')
        connection.commit()
    except Exception as e:
        connection.rollback()
        print(f'Update Failed: {e}')
    
    cursor.execute('SELECT * FROM employees')
    rows = cursor.fetchall()
    connection.close()

    return rows

update_age_using_transaction()

[(101, 'Prashant Marathe', 21, 'Computer Science'),
 (103, 'Devendra Bhoi', 20, 'Rocket Science'),
 (121, 'Prashant Marathe', 21, 'Computer Science'),
 (123, 'Pranav Devre', 20, 'Computer Science'),
 (132, 'Devendra Bhoi', 20, 'Computer Science'),
 (201, 'Prince Zodiac', 45, 'Electrical Engineering'),
 (202, 'Purushottam', 57, 'Finance'),
 (203, 'Jayesh', 68, 'Project Manager'),
 (204, 'Mahesh Marathe', 18, 'Machenical Engineer')]